#log-menu, #log-menu a{
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.project-section{
    margin-left:25px;
    padding-top:25px;
    width:90%;
}

#comment-section{
    padding-top:25px;
    text-align:center;
}

.comment-text{
    width:60%;
    min-height: 30px;
    background-color: rgb(253, 249, 244);
    margin-bottom: 0%;
    margin:auto;
    margin-top:18px;
}

.comment-detail{
    width:60%;
    background-color: aliceblue;
    margin:auto;
}

.add-commentaire textarea{
    width:60%;
    height: 150px;
    margin-bottom: 15px;
}

.masthead{
    padding-top:20em;
}

#contact{
   font-size:80px; 
}

hr {
	display: block;
	clear: both;
    height: 2px;
    width:80px;
	margin: auto;
	padding: 0;
	border: 0;
	font-family: arial;
	text-align: center;
	font-size: 60px;
    line-height: 1;
    border:solid black 1px;
    background-color:rgb(119, 117, 113);
}