{% extends 'layout/base.html' %}

{% block body %}
  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Parcours
          <span class="text-primary">DA Python</span>
        </h1>
        <div class="subheading mb-5">à OpenClassRooms · Par Joevin Cao-Van ·
        </div>
        <p class="lead mb-5">Pour mon dernier projet du parcours, j'ai décidé de créer ce site qui partagera mon expérience, mes conseils, mes impressions et mes cours afin de pouvoir aider chaque autre élève sur le même cursus à réussir, ou bien à motiver ceux qui n'osent pas encore le démarrer.</p>
      </div>
    </section>

    <hr class="m-0">

  </div>
{% endblock %}